.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 99999;
}

.modal-window {
  margin-top: 20vh;
  margin-bottom: auto;
}
